<div class="relative min-w-56">
	<input
		id="input-username"
		type="text"
		placeholder="Username"
		class="input input-bordered bg-base-300 peer w-full placeholder-transparent"
        x-model="username" />
	<label
		for="input-username"
		class="label text-base-content bg-base-300 pointer-events-none absolute -top-4 left-3 text-xs text-opacity-50 transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-sm">
		Username
	</label>
</div>
<button id="button-play" type="button" class="btn btn-ghost text-base ml-2" @click="handlePlay"    
	x-data="{
        handlePlay() {
            mySocket = new WebSocket(`ws://${window.location.host}/game`);
            mySocket.onopen = () => mySocket.send(JSON.stringify({ username }));
            mySocket.onmessage = onSocketMessage;
            username = '';
        },
    }">Play</button>
