<div class="relative min-w-56">
	<input
		id="input-username"
		type="text"
		placeholder="Username"
		class="peer input input-bordered w-full bg-base-300 placeholder-transparent"
		x-model="username"
	/>
	<label
		for="input-username"
		class="label pointer-events-none absolute -top-4 left-3 bg-base-300 text-xs text-base-content text-opacity-50 transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-sm"
	>
		Username
	</label>
</div>
<button
	id="button-play"
	type="button"
	class="btn btn-ghost ml-2 text-base"
	@click="handlePlay"
	@keyup.enter="handlePlay"
	x-data="{
        handlePlay() {
            mySocket = new WebSocket(`ws://${window.location.host}/game`);
            mySocket.onopen = () => mySocket.send(JSON.stringify({ username }));
            mySocket.onmessage = onSocketMessage;
			username = '';
        },
    }"
>
	Play
</button>
