<nav class="navbar mx-3 my-3 w-auto rounded-box bg-base-300">
	<div class="w-1/5 justify-start gap-1">
		<ul class="menu menu-horizontal items-center text-base">
			<li>
				<a class="px-3 text-2xl font-bold" @click="tab = 1"> Tic-tac-toe </a>
			</li>
			<li>
				<a class="px-3" @click="tab = 2"> About </a>
			</li>
			<!-- <li><a class="px-3">Contact</a></li> -->
		</ul>
	</div>
	<div class="w-3/5 justify-center">
		<form
			class="mb-0 inline-flex"
			@submit.prevent="handlePlay"
			x-data="{
				handlePlay() {
					let message = JSON.stringify({ username: usernameInput });
					mySocket = new WebSocket(`ws://${window.location.host}/game`);
					mySocket.onopen = () => mySocket.send(message);
					mySocket.onmessage = onSocketMessage;
					$store.username = usernameInput;
					usernameInput = '';
				},
			}"
		>
			<div class="relative min-w-56">
				<input
					id="username-input"
					type="text"
					placeholder="Username"
					class="peer input input-bordered w-full bg-base-300 placeholder-transparent"
					x-model="usernameInput"
				/>
				<label
					for="username-input"
					class="label pointer-events-none absolute -top-4 left-3 bg-base-300 text-xs text-base-content text-opacity-50 transition-all peer-placeholder-shown:top-1.5 peer-placeholder-shown:bg-transparent peer-placeholder-shown:text-sm"
				>
					Username
				</label>
			</div>
			<button id="button-play" type="submit" class="btn btn-ghost ml-2 text-base">Play</button>
		</form>
	</div>
	<div class="w-1/5 justify-end gap-1">
		<button
			type="reset"
			class="btn btn-square btn-ghost mr-2"
			title="Reset game"
			hx-get="/reset"
			hx-target="#game"
		>
			<svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 512 512">
				<path
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-miterlimit="10"
					stroke-width="32"
					d="m400 148l-21.12-24.57A191.43 191.43 0 0 0 240 64C134 64 48 150 48 256s86 192 192 192a192.09 192.09 0 0 0 181.07-128"
				/>
				<path
					fill="currentColor"
					d="M464 97.42V208a16 16 0 0 1-16 16H337.42c-14.26 0-21.4-17.23-11.32-27.31L436.69 86.1C446.77 76 464 83.16 464 97.42"
				/>
			</svg>
		</button>
	</div>
</nav>
