<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Demo site showcasing a simple tic-tac-toe web app created with the PyHAT stack.">
    <title>
        {% block title %} 
        Tic-tac-toe
        {% endblock title %}
    </title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script defer src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
    {% block script %}
    {% endblock script %}
</head>

<body x-data="{
    username: '',
    mySocket: null,
}">
    {% include "shared/_header.html" %}

    <main class="mb-20">
        {% block content %}
        {% endblock content %}
    </main>

    {% include "shared/_footer.html" %} 
</body>

</html>