<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Demo site showcasing a simple tic-tac-toe web app created with the PyHAT stack." />
    <title>
        {% block title %} 
            Tic-tac-toe
        {% endblock title %}
    </title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
    <script src="{{ url_for('static', path='htmx.min.js') }}"></script>
    <script src="{{ url_for('static', path='_hyperscript.min.js') }}"></script>
    {% block script %}
    {% endblock script %}
    <script type="text/hyperscript">
        js
            let createSocket = () => new WebSocket(`ws://127.0.0.1:8000/game`);
            return { createSocket };
        end

        on click from #button-play
            set $username to #input-username's value
            if $username == ''
                call gameDialog('Error', 'Please enter a username to play')
                exit
            end
            set $mySocket to createSocket()
            set $mySocket's onmessage to onSocketMessage
            set #input-username's value to ''
            wait 100ms
            call $mySocket's send(JSON's stringify({ username: $username }))
        end

        on keyup[key=="Enter"] from #input-username
            call #button-play's click()
        end
    </script>
</head>

<body x-data="{ 
    username: '' 
}">
    {% include "shared/_header.html" %} 

    <main class="mb-20">
        {% block content %}
        {% endblock content %}
    </main>

    {% include "shared/_footer.html" %} 
</body>

</html>