<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Demo site showcasing creation of QR codes via S3, Lambda and API Gateway."
		/>
		<title>QR code generator</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', file_path='/favicon.png') }}" />
		<link rel="stylesheet" href="{{ url_for('static', file_path='/style.css') }}" />
		<script
			defer
			src="https://unpkg.com/htmx.org@1.9.12"
			integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
			crossorigin="anonymous"
		></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"></script>
	</head>

	<body class="flex flex-col min-h-screen justify-start">
		<header class="mb-12">{% include "shared/_header.html" %}</header>

		<main class="w-1/5 min-w-96 mx-auto mt-20">
			<section id="qr">{% include "qr.html" %}</section>
		</main>

		<footer class="footer footer-center shrink-0 bg-base-300 p-4 mt-auto">
			{% include "shared/_footer.html" %}
		</footer>
	</body>

</html>
