<script type="text/hyperscript">
	def onSocketMessage(message)
		set data to JSON's parse(message's data)

		if data's error exists
			set title to "Error"
			set message to data's error
			call gameDialog(title, message)
			exit
		end

		if data's opponent exists
			put `You (<span class="font-bold">${$username}</span> as ${data's player}) are playing`
			into #player-info
			put `against <span class="font-bold">${data's opponent}</span>`
			into #opponent-info
		else 
			put `Waiting for an opponent...` into #opponent-info
		end

		call updateBoard(data's player, data's turn, data's board)
		if data's winner exists
			set title to "Game Over"
			if data's winner == true
				set message to "It's a draw!"
			else
				if data's winner == $username
					set message to `<span class="font-bold">You</span> win!`
				else
					set message to `<span class="font-bold">${data's winner}</span> wins!`
				end
			end
			call gameOver(title, message)
		end
	end

	def updateBoard(player, turn, board)
		set squares to <button/> in #square-grid
		repeat for square in squares index i
			put board[i] into square
			put `${turn}'s turn` into #turn-info
			if board[i] != " " or turn != player
				set square's @disabled to ''
				remove .cursor-pointer from square
				add .cursor-not-allowed to square
			end
			if board[i] == " " and turn == player
				remove @disabled from square
				remove .cursor-not-allowed from square
				add .cursor-pointer to square
			end
		end
	end

	def gameDialog(title, message)
		add .modal-open to #game-over-dialog
		put title into first <h2/> in #game-over-dialog
		put message into first <p/> in #game-over-dialog

	def gameOver(title, message)
		set squares to <button/> in #square-grid
		repeat for square in squares
			set square's @disabled to ''
			remove .cursor-pointer from square
			add .cursor-not-allowed to square
		end
		call gameDialog(title, message)
	end

	on click from <button/> in #square-grid
		call $mySocket's send(JSON's stringify({ position: its dataset's index }))
	end
</script>

<div class="form-control mt-8 items-center justify-center">
	<p id="player-info" class="text-xl"></p>
	<p id="opponent-info" class="text-3xl"></p>
	<p id="turn-info" class="mt-8 text-5xl font-bold"></p>
</div>

<div
	class="bg-base-300 mx-auto mt-4 grid h-[600px] w-[600px] grid-cols-3 grid-rows-3 rounded-xl border-8 border-solid border-transparent text-white"
	id="square-grid">
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="0"
			title="Top-left square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="1"
			title="Top-middle square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="2"
			title="Top-right square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="3"
			title="Middle-left square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="4"
			title="Middle square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="5"
			title="Middle-right square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="6"
			title="Bottom-left square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="7"
			title="Bottom-middle square"
			disabled></button>
	</div>
	<div class="border-base-300 flex items-center justify-center rounded-xl border-8 border-solid">
		<button
			type="button"
			class="bg-base-100 h-full w-full cursor-not-allowed rounded-lg font-['Helvetica'] text-5xl font-bold"
			data-index="8"
			title="Bottom-right square"
			disabled></button>
	</div>
</div>
{% include "pages/partials/_tictactoe-game-over-dialog.html" %}
